$gap: 5vh;

.card {
    display: flex;
    margin: $gap 0;
    position: relative;
    min-height: 30rem;
    z-index: 1;
    @include responsive($break-point-sm) {
        flex-direction: column;
    }
    &__image {
        position: relative;
        flex: 1;
        .label {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            padding: 0.8rem 1.5rem;
            $font-size: 2.5rem;
            font-size: $font-size;
            background: $bg-color;
            color: $main-color;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            .icon {
                width: $font-size * 0.8;
                margin-right: 1rem;
            }
        }
        @include responsive($break-point-sm) {
            flex: unset;
            height: 40rem;
            .label {
                font-size: 3rem;
            }
        }
    }
    &__text {
        flex: 1;
        font-size: $font-size * 0.6;
        margin-left: 5rem;
        &__head {
            display: flex;
            margin-bottom: 1rem;
            .date::after {
                content: "-";
                margin: 0 0.5em;
            }
        }
        h2 {
            font-weight: 600;
            font-size: 2.5em;
            line-height: 1.25;
        }
        @include responsive($break-point-sm) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}
