.hero-section {
    color: $white-color;
    position: relative;
    width: 100%;
    height: 80vh;
    //** bg style
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        @include flex();
        z-index: -1;
        @include responsive($break-point-md) {
            &::after {
                content: "tristin tran";
                position: absolute;
                font-size: 20rem;
                letter-spacing: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                font-weight: 800;
                color: rgba($color: $white-color, $alpha: 0.1);
            }
        }
        .bg-left {
            flex: 6;
            height: 100%;
            background: $black-color;
        }
        .bg-right {
            position: relative;
            flex: 4;
            height: 100%;
            background: url("/images/avatar.jpg") no-repeat;
            background-size: cover;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                background: rgba($color: $main-color, $alpha: 0.85);
                width: 100%;
                height: 100%;
            }
            &::after {
                content: "tristin tran";
                text-transform: uppercase;
                line-height: 1;
                letter-spacing: 2px;
                font-weight: 800;
                font-size: 12rem;
                color: rgba($color: #000000, $alpha: 0.1);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    //* end bg style

    //* Social Style
    &__top {
        position: absolute;
        width: 100%;
        top: 5vh;
        font-size: 2.5rem;
        @include flex(space-between, center);
        ul {
            display: flex;
            li {
                margin: 0 1rem;
                width: 3.5rem;
                transition: transform 200ms ease;
                &:hover {
                    transform: translateY(-1rem);
                }
            }
        }
        .portfolio {
            @include responsive($break-point-md) {
                color: $white-color;
            }
            transition: transform 200ms ease;
            &:hover {
                transform: translateX(-1rem);
                text-decoration: 2px underline;
            }
        }
        @include responsive($break-point-sm) {
            top: unset;
            bottom: 5vh;
        }
    }

    //* End Social Style

    //TODO content style

    &__middle {
        width: 100%;
        @include responsive($break-point-md) {
            @include flex();
            &__content {
                transform: translateX(-30%);
            }
        }
        @include responsive($break-point-xs) {
            &__content {
                transform: translateX(0);
            }
        }
        &__content {
            width: max-content;
            font-size: 4rem;
        }
        .intro-personal {
            text-transform: uppercase;
            font-size: 0.6em;
            color: change-color($white-color, $lightness: 70);
        }
        .description {
            transform: translateX(80%);
            font-weight: 500;
            @include responsive($break-point-xs) {
                transform: translateX(20%);
            }
        }
        h1 {
            transform: translateX(30%);
            text-transform: uppercase;
            color: $main-color;
            font-size: 3em;
            font-weight: 800;
            &::before {
                content: "#";
            }
            @include responsive($break-point-xs) {
                transform: translateX(0);
            }
        }
    }

    //* end content style
}
