.sponsors-section {
    background: $black-color;
    padding: 5vh 0;
    .title {
        text-align: center;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $white-color;
    }
    .sponsors {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include responsive($break-point-md) {
            justify-content: center;
        }
        li {
            width: 30rem;
            margin: 5rem 0;
            cursor: pointer;
            @include responsive($break-point-md) {
                margin: 5rem;
            }
        }
    }
}
